:root{
  --main-color:#002AFB;
  --main-color-blur:#002AFB99;
  --text-color:#010D35;
  --background-color:#F7F8FA;
  --text-color-secondary:#80869a;
  --error-color:#EC4E4E;
  --button-color:#D5DBF1;
}
.gradient-bg {
  background: linear-gradient(90deg, #4343FF 0%, #5274FF 100%);
}